@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap');


/* --------------COLORS----------------- */

body {
    background-color: #dbd1cf;
}
header {
    background-color: #4B3B40;
    color: #dbd1cf;
}

footer {
    background-color: #4B3B40;
    color: #dbd1cf;
}

.figure-caption {
    color: #858179;
}

a {
    color: white;
}

a:hover {
    color: #E086D3;
}

nav a {
    color: #dbd1cf;
}

nav a:hover {
    color: #E086D3;
}

.vendors a {
    color: #4B3B40;
}

.vendors a:hover {
    color: #E086D3;
}

/* ------Special Paddings/margin/text------- */

body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}



/* --------------HEADING----------------- */

header {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px; 
    padding-left: 20px;
}

header h1 {
    font-size: 60px;
    border-bottom: 5px solid #dbd1cf;
}

.logo  {
    background: url("../img/logo-main.png");
    min-height: 210px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: inherit;
    margin-bottom: 20px;

}

.title h1 {
    margin-right: 10px;
}

.title h2 {
    font-style: italic;
}

figcaption {
    text-align: center;
}


nav li {
    list-style: none;
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60px;
}

nav a {
    text-decoration: none;
    
}

nav a:hover {
    text-decoration: none;
}

/* --------------PAGE BODY----------------- */

h2 {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

header h2 {
    margin: 0;
    text-align: left;
    font-size: 40px;
    font-weight: 400;
}

.instructions {
    font-family: 'Montserrat', sans-serif;
}



.instructions-imgs {
    max-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
}

.vendors ul {
    list-style: none;
    text-align: center;
}

.vendors li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.vendors a:hover {
    text-decoration: none;
}

.health-benefits ul {
    width: 100%;
    list-style: none;
}

.source-credit {
    width: 100%;
}


#equipmentforcoffee {
    width: 80%;
    
}

/* --------------FOOTER----------------- */

footer {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 50px;
    padding-top: 10px;
    min-height: 100px;
}

footer .list-inline-item {
    margin-top: 30px;
}