

/* --------------COLORS----------------- */

body {
    background-color: #F7DAD9;
}
header {
    background-color: #A4C3B2;
    color: #443730;
}

/* ------Special Paddings/margin/text------- */




/* --------------HEADING----------------- */

header {
    margin: 0;
}




/* --------------FOOTER----------------- */
